h1,
h2,
h3,
h4,
h5,
h6,
#title {
  color: white;
}

input {
  max-width: 20rem;
}

.home .card {
  width: 10rem;
  height: 8rem;
  background-color: rgba(250, 250, 250, 0.5) !important;
}

#darth-vader {
  width: 20vh;
  display: inline;
}

nav {
  height: 20vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

#title {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  text-decoration: none;
}

.card a {
  color: white;
  text-decoration: none;
}

.page-link {
  background-color: rgb(33, 37, 41) !important;
  color: white !important;
  border-color: white !important;
}

.disabled * {
  color: rgb(33, 37, 41);
}

h3 {
  margin: 1rem 0 !important;
}

.movie {
  width: 15rem;
  max-width: 40vw;
  text-align: center;
  height: 100%;
  img {
    height: 100%;
  }
}

.bottom-container {
  margin-bottom: 5rem;
}
